.average-sessions-chart {
    width: 100%;
}

.custom_tooltip {
    width: 39px;
    border: none;
    
}

.custom_tooltip p {
    background: #FFF;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 24px;
    text-align: center;
    color: #000;
}