.daily_activity_container {
    position: relative;
}

.daily_activity_container__title {
    position: absolute;
    top: 27px;
    left: 30px;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #20253A;
}

.daily_activity.container__chart {
    width: 100%;
}

.custom_tooltip {
    width: 39px;
    border: none;
    
}

.custom_tooltip p {
    background: #E60000;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 7px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}