.home_page {
    width: 100%;
    margin: 80px 0 0 100px;
}

.welcome {}

.welcome__hello {
    margin-top: 0;
    margin-bottom: 40px;
}

.welcome__hello .first_name {
    color: #FF0101;
}

.welcome__message {
    margin-bottom: 70px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.charts {
    display: flex;
    width: 100%;
}

.charts__left {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.daily_activity {}

.others {
    display: flex;
    justify-content: space-between;
}

.others__average_sessions, .others__performance, .others__3 {
    width: 32%;
}

.charts__right {
    display: flex;
    flex-direction: column;
    width: 258px;
}