.left_menu {
    display: none;
}

@media (min-width: 992px) {
.left_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 117px;
    min-height: 690px;
    background: #020203;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.left_menu__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.left_menu__nav__nav_element {
    margin-bottom: 20px;
}

.left_menu__nav__nav_element:last-child {
    margin-bottom: 0;
}

.left_menu__copyright {
    position: absolute;
    bottom: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    white-space: nowrap;
    color: #FFFFFF;
    transform: rotate(-90deg);
}
}
