.average_sessions_chart_container {
    position: relative;
}

.average_sessions_chart_container__title {
    position: absolute;
    top: 27px;
    left: 30px;
    margin: 0;
    z-index: 1;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.average_sessions_chart_container__chart {
    width: 100%;
}

.custom_tooltip {
    width: 39px;
    border: none;
    
}

.custom_tooltip p {
    background: #FFF;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 24px;
    text-align: center;
    color: #000;
}