.small_screens {
    display: block;
    margin-top: 100px;
    text-align: center;
    color: #E60000;
}



/* @media (min-width: 576px) { }

@media (min-width: 768px) { } */

@media (min-width: 992px) {
    .small_screens {
        display: none;
    }
}

@media (min-width: 1200px) { }

@media (min-width: 1400px) {
    .small_screens{
        max-width: 1440px;
    }
}
